extends ../../../layout.pug

block content
  h1 Table Stuff
  section.site-section.site-section--tables
    -
      const tableHeaders = [
        "column1",
        "column2",
        "column3",
        "column4",
        "column5",
        "column6",
        "column7",
        "column8",
        "column9",
        "column10",
      ];
      const tableContent = [
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
        {
          column1: "column1",
          column2: "column2",
          column3: "column3",
          column4: "column4",
          column5: "column5",
          column6: "column6",
          column7: "column7",
          column8: "column8",
          column9: "column9",
          column10: "column10",
        },
      ];

    table#big-table.table
      caption.table__caption Table example 
      
      colgroup.table__colgroup
        for tableHeader of tableHeaders
          col.table__column(
            id= `column-${tableHeader}`
          )

      thead.table__head
        tr.table__heading-row
          for tableHeader of tableHeaders
            th.table__heading(
              id= `heading-${tableHeader}`
              scope="col"
            ) #{tableHeader}
        
      tbody.table__body
        for tableRow of tableContent
          tr.table__row
            for key, value in tableRow
              td.table__cell #{value}
      
      tfoot.table__footer.table-footer
        tr.table-footer__row
          form.table-footer__form
            for key in tableHeaders
              td.table-footer__cell
                label.table-footer__label(for=`key-${key}`) #{key}:
                input.table-footer__input(id=`key-${key}`, 
                  type="text", 
                  name= key
                )

    form.cell-editor
      input#cell-editor.cell-editor__input(
        type="text", 
        name="cell-editor"
      )