include ./components/todo-list.pug
include ./components/svg-icons.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Frontend Mentor | Todo app
    link(
      rel="icon", 
      type="image/png",
      sizes="32x32"
      href= require("@wp/assets/favicon-32x32.png"), 
    )
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap",
    )
    +svgContainer()
  
  body.gtheme(data-theme="dark")
    header.gheader
      div.gheader-image
        picture.light
            img(
              srcset= `${require("./assets/bg-mobile-light.jpg")} 375w, ${require("./assets/bg-desktop-light.jpg")}`,
              src= require("./assets/bg-desktop-light.jpg"), 
              alt="light theme background"
            )
        picture.dark
          img(
            srcset= `${require("./assets/bg-mobile-dark.jpg")} 375w, ${require("./assets/bg-desktop-dark.jpg")}`,
            src= require("./assets/bg-desktop-dark.jpg"), 
            alt="dark theme background"
          )

      div.glogo
        a(href="/frontend-mentor/todo-app") Todo
      div.gswitch
        button.gswitch-button(type="button")
          +svgIcon("moon")
          +svgIcon("sun")

    main.gmain
      section.todo-app
        form.new-todo
          div
            label.task-label(for="new-task") Create new todo:
            input#new-task.new-task(
              type="text", 
              name="todo-task",
              min-length="3",
              max-length="55",
              autocomplete="off",
              required
            )
          div
            button.todo-add(type="submit") +

        div.todo-panel
          +todoList()
                
        div.todo-buttons
          p 5 items left
          div
            button(type="button") Clear Completed

          div.todo-filters
            button.todo-filter(type="button") All
            button.todo-filter(type="button") Active
            button.todo-filter(type="button") Completed
          
          

        p Drag and drop to reorder list

    footer.gfooter
      address
        a(href="https://www.frontendmentor.io/challenges/todo-app-Su1_KokOW") Challenge

