mixin globalNav()
  -
    const items = [
      { url: "/", title: "Home" },
      { url: "/previews", title: "Previews" },
      { url: "/frontend-mentor", title: "Challenges" },
    ]
  nav.navigation-bar
    ul.navigation-bar__navlist
      for item in items
        li.navigation-bar__nav-item
          a.navigation-bar__nav-link(href=item.url) #{item.title}

mixin errorList(errors)
  - const isErrors = errors && errors.length !== 0
  aside.gerrors(
    class= isErrors && "show"
  )
    p Errors:
    ul.errorlist
      if isErrors
        each error in errors
          li #{error}

mixin svgIcon(name, className=false)
  svg.svg-icon(
    class= className && `${className}`
  )
    use(xlink:href=`#svg-icon--${name}`) 